.dashboard-container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  height: 90vh !important;
  width: 100%;
}

.dashboard-boarder {
  margin-left: 15px;
}

.dashboard-sidebar {
  font-family: "Courier New", Courier, monospace;
  opacity: 0.8;
  background-color: antiquewhite;
  border-radius: 5px;
  flex-grow: 1;
  margin: 5%;
  align-content: stretch;
  height: inherit;
  text-align: center;
}

.sidebar-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.MuiFormControlLabel-root {
  display: initial;
  justify-content: center;
  align-items: center;
}

.slider-div {
  margin-left: 25%;
  margin-right: 25%;
}

.dashboard-left-sidebar-item {
  margin-top: 10%;
  margin-top: 10%;
}

.dashboard-right-sidebar-item {
  margin-top: 10%;
  margin-top: 10%;
}

.chess-button {
  background-color: white !important;
  color: #07ade0 !important;
}
